#cssCommandMainUserInput {
    -fx-background-color: -fx-control-inner-background;
    -fx-font: 12.0px "Arial";
}

#commandText {
	-fx-font: 12.0px "Serif";
}
#rootPane{
	-fx-border-color: #d3d3d3;
    -fx-border-width: 2.0px;
}

.controlFocus {
	-fx-border-color: #FF00FF;
	-fx-border-width: 2.0px;
}


#cssTaskViewWeek{
	-fx-background-color: rgba(255.0,255.0,255.0,0.9);
}

#cssTaskViewWeekSelected{
	-fx-background-color: rgba(193.0,230.0,255.0,0.95);
}

#cssTaskViewDayBox2
{
	-fx-background-color: rgba(255.0,255.0,255.0,1.0);
}

#cssTaskViewSelectedTask
{
	-fx-background-radius: 20.0; 
	-fx-background-color:  rgba(255.0, 255.0, 255.0, 0.8);
	-fx-background-insets: 1.0 5.0 1.0 5.0;
}


#cssDescriptionMainBox
{
	-fx-background-color: black,rgba(255.0,165.0,0.0,1.0), rgba(0.0, 120.0, 255.0, 1.0), rgba(255.0, 255.0, 255.0, 0.9);
    -fx-background-insets: 0.0, 1.0 1.0 1.0 1.0, 2.0 10.0 2.0 0.0, 2.0 10.0 2.0 0.0;
}

#cssRoot{
	-fx-background-color: rgba(255.0,255.0,255.0,0.7);
}

#cssDetailComponentRoot{
	-fx-background-color: rgba(255.0,255.0,255.0,0.7),rgba(193.0,230.0,255.0,0.95);
}

#cssFloatingTask
{
	-fx-background-color: rgba(255.0,255.0,255.0,1.0);
	-fx-background-insets: 2.0;
}

#cssFloatingTitleLabel
{
	-fx-background-color: rgba(255.0,255.0,255.0,1.0), rgba(255.0,178.5,127.5,1.0);
	-fx-background-insets: 2.0, 0.0 10.0 0.0 235.0;
}

#cssDetailComponentEmptyTitle {
		-fx-background-color: rgba(255.0,178.5,127.5,1.0);	
}

#cssDetailComponentProjectHeadBox{
	-fx-background-color: rgba(255.0,255.0,255.0,0.95);
}

#cssExpandedViewVBox{
	-fx-background-color: rgba(255.0,255.0,255.0,0.9);
	-fx-background-radius: 7.0;
	-fx-background-insets: 0.0 5.0 0.0 5.0;
}

#cssExpandedViewVBoxSelected{
	-fx-background-color: rgba(255.0,230.0,255.0,1.0);
	-fx-background-radius: 7.0;
	-fx-background-insets: 0.0 5.0 0.0 5.0;
}

#cssDetailAssociationListBox
{
	-fx-background-color: rgba(255.0,255.0,255.0,0.0);
	-fx-background-insets: 0.0 0.0 0.0 0.0;
}

#cssFloatingTitle
{
	-fx-background-color: rgba(255.0,178.5,127.5,1.0);
}
#cssFloatingSelected{
	-fx-background-radius: 20.0; 
	-fx-background-color:  rgba(255.0,178.5,127.5,1.0);
	-fx-background-insets: 1.0 5.0 1.0 5.0;
}

#cssDetailComponentAssociateViewUnFocus
{
	-fx-background-color: rgba(193.0,230.0,255.0,0.95);
	-fx-background-insets: 0.0;
}

#cssDetailComponentAssociateViewFocus
{
	-fx-background-color: rgba(255.0,178.5,127.5,1.0),rgba(193.0,230.0,255.0,0.95);
	-fx-background-insets: 0.0,2.0 2.0 2.0 2.0 ;
}

#cssCommandBarMainStructure{
	-fx-background-color: rgba(255.0,255.0,255.0,1.0);
}

#cssSearchTitle{
	-fx-background-color: rgba(128.0,0.0,128.0,1.0);
}

#cssSearchSelected{
	-fx-background-color: rgba(128.0,0.0,128.0,1.0);
	-fx-background-radius: 20.0; 
	-fx-background-insets: 1.0 5.0 1.0 5.0;
}

#cssCommandBarfeedback
{
	-fx-background-color: rgba(179.0, 255.0, 153.0, 1.0);
}

#cssCommandBarAdd {
	-fx-background-color: rgba(179.0, 255.0, 153.0, 1.0);
	-fx-background-radius: 7.0; 
	
}

#cssCommandBarInvalid{
	-fx-text-fill:rgba(255.0,0.0,0.0,1.0);
}

#cssCommandBarDelete {
	-fx-background-color: rgba(255.0, 153.0, 153.0, 1.0);
	-fx-background-radius: 7.0; 
}

#cssCommandBarEdit {
	-fx-background-color: rgba(153.0, 130.0, 255.0, 1.0);
	-fx-background-radius: 7.0; 
}

#cssCommandBarLink {
	-fx-background-color: rgba(255.0, 255.0, 153.0, 1.0);
	-fx-background-radius: 7.0; 
}

#cssCommandBarDone {
	-fx-background-color: rgba(153.0, 153.0, 255.0, 1.0);
	-fx-background-radius: 7.0; 
}

#cssCommandTitle {
	-fx-background-color: rgba(153.0, 153.0, 255.0, 1.0);
	-fx-background-radius: 7.0; 
}
#cssCommandDate {
	-fx-background-color: rgba(255.0, 153.0, 255.0, 1.0);
	-fx-background-radius: 7.0; 
}
#cssCommandID {
	-fx-background-color: rgba(153.0, 153.0, 255.0, 1.0);
	-fx-background-radius: 7.0; 
}
#cssCommandDescription {
	-fx-background-color: rgba(153.0, 153.0, 255.0, 1.0);
	-fx-background-radius: 7.0; 
}
#cssCommandMark {
	-fx-background-color: rgba(61.0, 234.0, 64.0, 1.0);
	-fx-background-radius: 7.0; 
}
#cssCommandJump {
	-fx-background-color: rgba(61.0, 231.0, 234.0, 1.0);
	-fx-background-radius: 7.0; 
}
#cssCommandSearch{
	-fx-background-color: rgba(242.0, 190.0, 134.0, 1.0);
	-fx-background-radius: 7.0; 
}
#cssCommandLink{
	-fx-background-color: rgba(189.0, 188.0, 188.0, 1.0);
	-fx-background-radius: 7.0; 
}

#cssCommandExit{
	-fx-background-color: rgba(189.0, 188.0, 188.0, 1.0);
	-fx-background-radius: 7.0; 
	 -fx-font: 20.0px "Arial";
}

#cssCommandFloat{
	-fx-background-color: rgba(189.0, 188.0, 188.0, 1.0);
	-fx-background-radius: 7.0; 
	 -fx-font: 20.0px "Arial";
}
#cssCommandShow{
	-fx-background-color: rgba(189.0, 188.0, 188.0, 1.0);
	-fx-background-radius: 7.0; 
	 -fx-font: 20.0px "Arial";
}
#cssCommandHide{
	-fx-background-color: rgba(189.0, 188.0, 188.0, 1.0);
	-fx-background-radius: 7.0; 
	 -fx-font: 20.0px "Arial";
}
#cssCommandMain{
	-fx-background-color: rgba(189.0, 188.0, 188.0, 1.0);
	-fx-background-radius: 7.0; 
	 -fx-font: 20.0px "Arial";
}